<input type="text" name="inputBuscar" id="inputBuscar" placeholder="Buscar película">
<button id="btnBuscar">Buscar</button>
<div id="peliculasContainer"></div>
<script src="views/plugins/handlebars.runtime-v4.7.6.js"></script>
<script src="views/precompiled/peliculas.precompiled.js"></script>
<script src="model/model.js"></script>
<script src="client.js"></script>